extends layout

block content

    // Title page
    .hero-unit
      h1 #{title}
      p Facilitating project evolution by unifying different notations
      p
        a.btn.btn-primary Learn more &raquo;
      
    .row
      .span4
        h2 Heading 1
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum 
          eros, ornare id laoreet id, consequat eu nunc. Nunc aliquet nulla 
          mauris. Phasellus nec nibh odio. Donec sodales auctor augue. 
          Pellentesque eget lectus nec dui cursus consectetur sit amet a enim. 
          Curabitur leo tellus, suscipit id faucibus id, aliquet sit amet 
          ligula. Nullam dignissim adipiscing tincidunt. Phasellus dictum dictum
          neque eget convallis.
      
      .span4
        h2 Heading 2
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum 
          eros, ornare id laoreet id, consequat eu nunc. Nunc aliquet nulla 
          mauris. Phasellus nec nibh odio. Donec sodales auctor augue. 
          Pellentesque eget lectus nec dui cursus consectetur sit amet a enim. 
          Curabitur leo tellus, suscipit id faucibus id, aliquet sit amet 
          ligula. Nullam dignissim adipiscing tincidunt. Phasellus dictum dictum
          neque eget convallis.

      .span4
        h2 Heading 3
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum 
          eros, ornare id laoreet id, consequat eu nunc. Nunc aliquet nulla 
          mauris. Phasellus nec nibh odio. Donec sodales auctor augue. 
          Pellentesque eget lectus nec dui cursus consectetur sit amet a enim. 
          Curabitur leo tellus, suscipit id faucibus id, aliquet sit amet 
          ligula. Nullam dignissim adipiscing tincidunt. Phasellus dictum dictum
          neque eget convallis.